#!/bin/bash -login
########## Define Resources Needed with SBATCH Lines ##########
#SBATCH --time=4:00:00
#SBATCH --job-name series={{ series }}+stint={{ stint }}
#SBATCH --account=devolab
#SBATCH --output="/mnt/home/mmore500/slurmlogs/slurm-%j.out"
#SBATCH --mem=16G
#SBATCH --ntasks 1
#SBATCH --cpus-per-task 4
#SBATCH --mail-type=FAIL
#SBATCH --mail-user=mmore500@msu.edu

# fail on error
set -e

# set up and jump into temporary work directory
cd "$(mktemp -d)"

# curl repro_runner.sh script into to a temporary file
REPRO_RUNNER="$(mktemp)"
curl -o "${REPRO_RUNNER}" "https://raw.githubusercontent.com/mmore500/dishtiny/{{ repo_sha }}/script/repro_runner.sh"
chmod +x "${REPRO_RUNNER}"

################################################################################
echo
echo "Run Job with repro_runner.sh"
echo "--------------------------------"
################################################################################

"${REPRO_RUNNER}" \
  -p dnh2v -u mmore500 -s dishtiny \
  --repo_sha "{{ repo_sha }}" --container_tag "{{ container_tag }}" \
  << 'REPRO_RUNNER_HEREDOC_EOF'

# fail on error
set -e

################################################################################
echo
echo "Initialize and Log Config"
echo "-------------------------"
################################################################################

# load secrets into environment variables, if available
[[ -f ~/.secrets.sh ]] && source ~/.secrets.sh || echo "~/secrets.sh not found"

ENDEAVOR={{ series | int // 1000 }}
GENESIS="{{ "generate" if stint | int == 0 else "reconstitute" }}"
N_PROCS=1
N_THREADS=4

echo "ENDEAVOR ${ENDEAVOR}"
echo "GENESIS ${GENESIS}"
echo "N_PROCS ${N_PROCS}"
echo "N_THREADS ${N_THREADS}"
echo "series {{ series }}"
echo "stint {{ stint }}"
echo "container_tag {{ container_tag }}"
echo "repo_sha {{ repo_sha }}"

################################################################################
echo
echo "Set Up Work Directory"
echo "-------------------------"
################################################################################

mkdir work
make -C dishtiny/
cp dishtiny/rundishtiny work
cd work

{% if stint | int > 0 %}
for ((proc=0;proc<N_PROCS;++proc)); do
  for ((thread=0;thread<N_THREADS;++thread)); do
    f="a=population+proc=${proc}+series={{ series }}+stint={{ stint }}+thread=${thread}+ext=.bin"
    for retry in {1..10}; do
      osf -p dnh2v fetch "endeavor=${ENDEAVOR}/evolve/populations/stint={{ stint | int - 1 }}/${f}" "${f}" && echo "  $f download success" && break \
        || (echo "retrying ${f} download (${retry})" && sleep $((RANDOM % 10)))
      if ((${retry}==10)); then echo "$f download fail" && exit 1; fi
    done &
  done
done
{% endif %}

wait

################################################################################
echo
echo "Run Simulation"
echo "------------------"
################################################################################

# note:
# we have to cut off stdin, stdout, stderr on mpiexec
# for compatibility with repro_runner.sh and prevent a funky
# tee: read error: Resource temporarily unavailable
# ssh accomplishes this right now, but otherwise something else would be needed

# use ssh to access host then launch mpi jobs there (e.g., "hybrid approach")
# see https://sylabs.io/guides/3.3/user-guide/mpi.html

sshpass -p "${HOST_PASSWORD}" \
ssh -o "StrictHostKeyChecking no" -o "UserKnownHostsFile /dev/null" \
  "${HOST_USERNAME}@$(hostname)" \
<< MPIEXEC_HEREDOC_EOF
  module purge; module load iccifort/2019.5.281 MPICH/3.3.2 || :
  mpiexec.hydra --version
  mpiexec.hydra -n "${N_PROCS}" \
  singularity exec --pwd "$(pwd)" "${SINGULARITY_CONTAINER}" \
    ./rundishtiny \
    -N_THREADS "${N_THREADS}" -RUN_SECONDS 60 -GENESIS "${GENESIS}" -DATA_DUMP 1 -WEAK_SCALING 1 -N_CELLS 3600 -PHENOTYPE_EQUIVALENT_NOPOUT 0 -STINT {{ stint }} -SERIES {{ series }} \
  && echo "simulation exit success" \
  || ( echo "simulation error code $?" && exit 1 )
MPIEXEC_HEREDOC_EOF

################################################################################
echo
echo "Upload Data"
echo "--------------"
################################################################################

shopt -s nullglob

echo "uploading any population files..."
for f in *a=population*; do
  echo "uploading ${f}"
  for retry in {1..10}; do
    osf -p dnh2v upload "${f}" "endeavor=${ENDEAVOR}/evolve/populations/stint={{ stint }}/${f}" && echo "  $f upload success" && break \
      || (echo "retrying ${f} upload (${retry})" && sleep $((RANDOM % 10)))
    if ((${retry}==10)); then echo "  $f upload fail" && exit 1; fi
  done &
done

wait

echo "uploading any metrics files..."
for f in *a=demographic_phenotypic_phylogenetic_metrics*; do
  echo uploading "${f}"
  for retry in {1..10}; do
    osf -p dnh2v upload "${f}" "endeavor=${ENDEAVOR}/evolve/metrics/stint={{ stint }}/${f}" && echo "  $f upload success" && break \
      || (echo "retrying ${f} upload (${retry})" && sleep $((RANDOM % 10)))
    if ((${retry}==10)); then echo "$f upload fail" && exit 1; fi
  done &
done

wait

echo "uploading any census files..."
for f in *a=cell_census*; do
  echo uploading "${f}";
  for retry in {1..10}; do
    osf -p dnh2v upload "${f}" "endeavor=${ENDEAVOR}/evolve/censuses/stint={{ stint }}/${f}" && echo "  $f upload success" && break \
      || (echo "retrying ${f} upload (${retry})" && sleep $((RANDOM % 10)))
    if ((${retry}==10)); then echo "$f upload fail" && exit 1; fi
  done &
done

wait

echo "uploading any montage files..."
for f in *a=montage*; do
  echo uploading "${f}"
  for retry in {1..10}; do
    osf -p dnh2v upload "${f}" "endeavor=${ENDEAVOR}/evolve/montages/stint={{ stint }}/${f}" && echo "  $f upload success" && break \
      || (echo "retrying ${f} upload (${retry})" && sleep $((RANDOM % 10)))
    if ((${retry}==10)); then echo "$f upload fail" && exit 1; fi
  done &
done

wait

echo "uploading any drawing archives..."
for f in *a=drawings*; do
  echo uploading "${f}"
  for retry in {1..10}; do
    osf -p dnh2v upload "${f}" "endeavor=${ENDEAVOR}/evolve/drawings/stint={{ stint }}/${f}" && echo "  $f upload success" && break \
      || (echo "retrying ${f} upload (${retry})" && sleep $((RANDOM % 10)))
    if ((${retry}==10)); then echo "$f upload fail" && exit 1; fi
  done &
done

echo "uploading any genome files..."
for f in *a=genome*; do
  echo uploading "${f}"
  for retry in {1..10}; do
    osf -p dnh2v upload "${f}" "endeavor=${ENDEAVOR}/genomes/stint={{ stint }}/series={{ series }}/${f}" && echo "  $f upload success" && break \
      || (echo "retrying ${f} upload (${retry})" && sleep $((RANDOM % 10)))
    if ((${retry}==10)); then echo "$f upload fail" && exit 1; fi
  done &
done

wait

shopt -u nullglob


REPRO_RUNNER_HEREDOC_EOF

################################################################################
echo
echo "Submit Next Job"
echo "---------------"
################################################################################

# run jinja on template
JOB_TEMPLATE="$(mktemp)"
JOB_SCRIPT="$(mktemp)"

curl -o "${JOB_TEMPLATE}" "https://raw.githubusercontent.com/mmore500/dishtiny/{{ repo_sha }}/slurm/evolve/evolvejob.slurm.sh.jinja"

source ~/pyenv/bin/activate || :

j2 --format=yaml -o "${JOB_SCRIPT}" "${JOB_TEMPLATE}" << J2_HEREDOC_EOF
container_tag: {{ container_tag }}
repo_sha: {{ repo_sha }}
series: {{ series }}
stint: {{ stint | int + 1 }}
J2_HEREDOC_EOF

chmod +x "${JOB_SCRIPT}"

for retry in {1..10}; do
  sshpass -p "${HOST_PASSWORD}" ssh "${HOST_USERNAME}@$(hostname)" sbatch "${JOB_SCRIPT}" && echo "  job submit success" && break \
    || (echo "retrying job submit (${retry})" && sleep $((RANDOM % 10)))
  if ((${retry}==10)); then echo "  job submit fail" && exit 1; fi
done &

################################################################################
echo
echo "Done! (SUCCESS)"
echo "---------------"
################################################################################
