#!/bin/bash
########## Define Resources Needed with SBATCH Lines ##########
#SBATCH --time=4:00:00
#SBATCH --job-name series={{ series }}+stint={{ stint }}
#SBATCH --account=devolab
#SBATCH --output="/mnt/home/mmore500/slurmlogs/slurm-%j.out"
#SBATCH --mem=16G
#SBATCH --ntasks 1
#SBATCH --cpus-per-task 4
#SBATCH --mail-type=FAIL
#SBATCH --mail-user=mmore500@msu.edu

echo "${SHELL}"

# fail on error
set -e

# set up and jump into temporary work directory
cd "$(mktemp -d)"

# load secrets into environment variables, if available
[[ -f ~/.secrets.sh ]] && source ~/.secrets.sh || echo "~/secrets.sh not found"
export LC_ALL=C.UTF-8
export LANG=C.UTF-8

# curl repro_runner.sh script into to a temporary file
REPRO_RUNNER="$(mktemp)"
curl -o "${REPRO_RUNNER}" "https://raw.githubusercontent.com/mmore500/dishtiny/{{ repo_sha }}/script/repro_runner.sh"
chmod +x "${REPRO_RUNNER}"

################################################################################
echo
echo "Running Job with repro_runner.sh"
echo "--------------------------------"
################################################################################

"${REPRO_RUNNER}" \
  -p dnh2v -u mmore500 -s dishtiny \
  --repo_sha "{{ repo_sha }}" --container_sha "{{ container_sha }}" \
  << 'REPRO_RUNNER_HEREDOC_EOF'

# fail on error
set -e

ENDEAVOR={{ series | int // 1000 }}
GENESIS="{{ "generate" if stint == 0 else "reconstitute" }}"
N_PROCS=1
N_THREADS=4

echo "ENDEAVOR ${ENDEAVOR}"
echo "GENESIS ${GENESIS}"
echo "N_PROCS ${N_PROCS}"
echo "N_THREADS ${N_THREADS}"

################################################################################
echo
echo "Set Up Work Directory"
echo "-------------------------"
################################################################################

mkdir work
make -C dishtiny/
cp dishtiny/rundishtiny work
cd work

if (({{ stint }} > 0)); then
  for ((proc=0;proc<N_PROCS;++proc)); do
    for ((thread=0;thread<N_THREADS;++thread)); do
      f="a=population+proc=${proc}+series={{ series }}+stint={{ stint }}+thread=${thread}+ext=.bin"
      osf -p dnh2v fetch "endeavor=${ENDEAVOR}/evolve/populations/stint={{ stint - 1 }}/${f}" "${f}" &
    done
  done
fi

wait

################################################################################
echo
echo "Running Simulation"
echo "------------------"
################################################################################

# we have to cut off stdin, stdout, stderr on mpiexec
# for compatibility with repro_runner.sh and prevent a funky
# tee: read error: Resource temporarily unavailable
(: | mpiexec.mpich -n "${N_PROCS}" ./rundishtiny -N_THREADS "${N_THREADS}" -RUN_SECONDS 60 -GENESIS "${GENESIS}" -DATA_DUMP 1 -WEAK_SCALING 1 -N_CELLS 3600 -PHENOTYPE_EQUIVALENT_NOPOUT 0 -STINT {{ stint }} -SERIES {{ series }} > /dev/tty 2>&1 \
  && echo "simulation exit success" ) \
  || ( echo "simulation error code $?" && echo exit 1 )


################################################################################
echo
echo "Uploading Data"
echo "--------------"
################################################################################

shopt -s nullglob

echo "uploading any population files..."
for f in *a=population*; do
  echo "uploading ${f}"
  for retry in {1..10}; do
    osf -p dnh2v upload "${f}" "endeavor=${ENDEAVOR}/evolve/populations/stint={{ stint }}/${f}" && echo "  $f upload success" && break \
      || (echo "retrying ${f} upload (${retry})" && sleep $((RANDOM % 10)))
    if ((${retry}==10)); then echo "  $f upload fail" && exit 1; fi
  done &
done

wait

echo "uploading any metrics files..."
for f in *a=demographic_phenotypic_phylogenetic_metrics*; do
  echo uploading "${f}"
  for retry in {1..10}; do
    osf -p dnh2v upload "${f}" "endeavor=${ENDEAVOR}/evolve/metrics/stint={{ stint }}/${f}" && echo "  $f upload success" && break \
      || (echo "retrying ${f} upload (${retry})" && sleep $((RANDOM % 10)))
    if ((${retry}==10)); then echo "$f upload fail" && exit 1; fi
  done &
done

wait

echo "uploading any census files..."
for f in *a=cell_census*; do
  echo uploading "${f}";
  for retry in {1..10}; do
    osf -p dnh2v upload "${f}" "endeavor=${ENDEAVOR}/evolve/censuses/stint={{ stint }}/${f}" && echo "  $f upload success" && break \
      || (echo "retrying ${f} upload (${retry})" && sleep $((RANDOM % 10)))
    if ((${retry}==10)); then echo "$f upload fail" && exit 1; fi
  done &
done

wait

echo "uploading any montage files..."
for f in *a=montage*; do
  echo uploading "${f}"
  for retry in {1..10}; do
    osf -p dnh2v upload "${f}" "endeavor=${ENDEAVOR}/evolve/montages/stint={{ stint }}/${f}" && echo "  $f upload success" && break \
      || (echo "retrying ${f} upload (${retry})" && sleep $((RANDOM % 10)))
    if ((${retry}==10)); then echo "$f upload fail" && exit 1; fi
  done &
done

wait

echo "uploading any drawing archives..."
for f in *a=drawings*; do
  echo uploading "${f}"
  for retry in {1..10}; do
    osf -p dnh2v upload "${f}" "endeavor=${ENDEAVOR}/evolve/drawings/stint={{ stint }}/${f}" && echo "  $f upload success" && break \
      || (echo "retrying ${f} upload (${retry})" && sleep $((RANDOM % 10)))
    if ((${retry}==10)); then echo "$f upload fail" && exit 1; fi
  done &
done

echo "uploading any genome files..."
for f in *a=genome*; do
  echo uploading "${f}"
  for retry in {1..10}; do
    osf -p dnh2v upload "${f}" "endeavor=${ENDEAVOR}/genomes/stint={{ stint }}/series={{ series }}/${f}" && echo "  $f upload success" && break \
      || (echo "retrying ${f} upload (${retry})" && sleep $((RANDOM % 10)))
    if ((${retry}==10)); then echo "$f upload fail" && exit 1; fi
  done &
done

wait

shopt -u nullglob

################################################################################
echo
echo "Submit Next Job"
echo "---------------"
################################################################################

# run jinja on template
JOB_TEMPLATE="$(mktemp)"
JOB_SCRIPT="$(mktemp)"

curl -o "${JOB_TEMPLATE}" "https://raw.githubusercontent.com/mmore500/dishtiny/{{ repo_sha }}/slurm/evolve/evolvejob.slurm.sh.jinja"

j2 --format=yaml -o "${JOB_SCRIPT}" "${JOB_TEMPLATE}" << J2_HEREDOC_EOF
container_sha: {{ container_sha }}
repo_sha: {{ repo_sha }}
series: {{ series }}
stint: {{ stint + 1 }}
J2_HEREDOC_EOF

chmod +x "${JOB_SCRIPT}"

for retry in {1..10}; do
  sbatch "${JOB_SCRIPT}" && echo "  job submit success" && break \
    || (echo "retrying job submit (${retry})" && sleep $((RANDOM % 10)))
  if ((${retry}==10)); then echo "  job submit fail" && exit 1; fi
done &


REPRO_RUNNER_HEREDOC_EOF

################################################################################
echo
echo "Done! (SUCCESS)"
echo "---------------"
################################################################################
