[submodule "third-party/Catch"]
  path = third-party/Catch
  url = https://github.com/philsquared/Catch.git
[submodule "third-party/Empirical"]
  path = third-party/Empirical
  url = https://github.com/devosoft/Empirical.git
  branch = master
[submodule "third-party/force-cover"]
  path = third-party/force-cover
  url = https://github.com/emilydolson/force-cover.git
[submodule "third-party/emsdk"]
  path = third-party/emsdk
  url = https://github.com/emscripten-core/emsdk.git
[submodule "third-party/conduit"]
  path = third-party/conduit
  url = https://github.com/mmore500/conduit
[submodule "third-party/cereal"]
  path = third-party/cereal
  url = https://github.com/mmore500/cereal
[submodule "third-party/signalgp-lite"]
  path = third-party/signalgp-lite
  url = https://github.com/mmore500/signalgp-lite
[submodule "third-party/header-only-pca"]
  path = third-party/header-only-pca
  url = https://github.com/rodsan0/header-only-pca.git
[submodule "third-party/bats-core"]
  path = third-party/bats-core
  url = https://github.com/bats-core/bats-core
[submodule "third-party/PicoSHA2"]
	path = third-party/PicoSHA2
	url = https://github.com/okdshin/PicoSHA2
