*~
*.debug
*.dSYM
*.gcov
*.js.mem
*.map
*.mp4
*.o
*.out
*.pyc
*.swp
*.swo
*.wasm
*.wast
*-bak.cpp
*tmp.*
*.o.ccache*

.DS_Store
a.out
a.out.js
rundishtiny

**/.ipynb_checkpoints/

docs/_build
docs/api
docs/doxyoutput
docs/.Rhistory

microbenchmarks/**/*.json

web/dishtiny.js
web/dishtiny.worker.js
web/index.html

temp*

package-lock.json
node_modules/
coverage_include/
