### CORE ###
# Core settings for DISHTINY

set NLEV 2
set GRID_H 45
set GRID_W 45

### PROGRAM_GROUP ###
# SignalGP program Settings

### HARDWARE_GROUP ###
# SignalGP Hardware Settings

### MUTATION_GROUP ###
# SignalGP Mutation Settings

### LOGISTICS ###
# logistics

set TREATMENT_DESCRIPTOR standard
set SNAPSHOT_FREQUENCY 32768
set SNAPSHOT_LENGTH 16
set RUN_LENGTH 32784
set ANIMATION_FREQUENCY 2621440
